<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
<header>
    <h2>AV Trimestral List</h2>
    <nav class="nav">
        <a href="../">Home</a>
        <a href="">list</a>
    </nav>
</header>

<div class="container">
    <table>
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>TELEFONE</th>
        </tr>
        <tr>
            <td>Rafael Bortnik Leivas</td>
            <td>Rafael_leivas@estudante.sc.senai.br</td>
            <td>(48)998347334</td>
        </tr>
        <tr>
            <td>Ismael Teixeira</td>
            <td>Ismael_teixeira@estudante.sc.senai.br</td>
            <td>(48)991891499</td>
        </tr>
        <tr>
            <td>Matheus Augusto</td>
            <td>Matheus_mello@estudante.sc.senai.br</td>
            <td>(48)984464236</td>
        </tr>
    </table>
</div>

</body>
</html>